body{
  background: #121212;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
  background:#121212;
  height: 75px;
}

button {
  color:white;
  border: none;
  outline: none;
  padding: 5px;
}

label {
  padding: 0 10px 10px 0;
}

.Sidebar {
  color: white;
  width: 100%;
  display: flex;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(3, 140, 208, 1) 0%,
    rgba(6, 68, 160, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

.text-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed{
  position: fixed !important;
}

.absoluate{
  position: absolute !important;
}

#genImage{
  width: 300px; height: 300px;display: flex; flex-direction: column; justify-content: space-between;
}

input,option,select{
  padding: 5px;
  color:white;
  background: #121212;
}

.navItems{
  padding-right:10px ;
}

.loader {
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  border: 3px solid #ddd;
  border-top: 3px solid #42a5f5;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.wrapper-gen{
  background-repeat: no-repeat;
background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#t1,#t2{
width:300px;
word-break: break-all;
text-align: center;
}


@-webkit-keyframes spin {
  to {
    border-top-color: #ec407a;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    border-top-color: #ec407a;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


@media only screen and (max-width: 400px) {
  #genImage {
    width: 225px !important;
    height: 350px !important;
    background-position: center;
  }
  #t1,#t2{
    width: 225px !important;
  }
  #mainImg {
    margin: 10px !important;
  }
}